$text-color:            #111 !default;
$text-color-light:      #666 !default;
$background-color:      #fff !default;
$code-background-color: #272822 !default;

$border-color:          #828282 !default;
$border-color-light:    lighten($border-color, 40%) !default;
$border-color-dark:     darken($border-color, 25%) !default;

$link-base-color:       #07B !default;
$link-visited-color:    darken($link-base-color, 15%) !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     mix($background-color, $border-color, 90%) !default;
$table-header-bg-color: mix($background-color, $border-color, 80%) !default;
$table-header-border:   $border-color !default;
$table-border-color:    lighten($border-color, 20%) !default;

$pre-shadow:            0 0 4px rgba(17,17,17,0.4) inset !default;
$dropdown-shadow:       0px 8px 16px 0px rgba(0,0,0,0.2) !default;

$subscribe-color:       #b21000 !default;
